@font-face {
  font-family: 'Roboto Slab Regular';
  src: url("../fonts/Roboto/RobotoSlab-Regular.eot");
  src: url("../fonts/Roboto/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoSlab-Regular.woff") format("woff"), url("../fonts/Roboto/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: url("../fonts/Roboto/RobotoSlab-Bold.eot");
  src: url("../fonts/Roboto/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoSlab-Bold.woff") format("woff"), url("../fonts/Roboto/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa Regular';
  src: url("../fonts/Comfortaa/Comfortaa.eot");
  src: url("../fonts/Comfortaa/Comfortaa.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa Bold';
  src: url("../fonts/Comfortaa/Comfortaa-Bold.eot");
  src: url("../fonts/Comfortaa/Comfortaa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: #FFFCF5;
  font-family: 'Comfortaa Regular';
  font-weight: 400;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  z-index: 4;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

button:active, button:focus {
  border: none;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 780px;
  }
}

@media (max-width: 880px) {
  .container {
    max-width: 500px;
    width: 85%;
  }
}

.hero {
  height: 100vh;
  position: relative;
}

.hero-text {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  font-size: 48px;
  width: 810px;
  font-family: 'Roboto Slab Regular';
  font-weight: 400;
}

.hero-text_red {
  color: #FF3209;
}

.hero-btn {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
  background-color: #FF3209;
  border: 2px solid #fff;
  color: #fff;
  padding: 20px 30px;
  border-radius: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.hero-btn:hover {
  background-color: #fff;
  border: 2px solid #FF3209;
  color: #FF3209;
}

@media (max-width: 880px) {
  .hero-text {
    font-size: 32px;
    max-width: 610px;
    width: 85%;
  }
  .hero-btn {
    letter-spacing: 1.5px;
    font-weight: 700;
    bottom: 10%;
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
    padding: 20px 30px 17px 30px;
    border-radius: 30px;
    font-size: 14px;
  }
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.navbar-block {
  padding: 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  position: relative;
  letter-spacing: 1px;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.navbar__logo::after, .navbar__logo::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 1.5px;
  background-color: #FF3209;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.navbar__logo::after {
  left: 28%;
  bottom: -7px;
}

.navbar__logo::before {
  left: 51%;
  top: -8px;
}

.navbar ul {
  margin: 0 0 0 40px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  margin-right: 35px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar-link {
  letter-spacing: 1px;
  position: relative;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.navbar-link::after {
  content: '';
  -webkit-transition: .4s;
  transition: .4s;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FF3209;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar__burger {
  display: none;
}

.navbar-burger {
  z-index: 100;
  background-color: #fff;
  padding: 40px 0;
  position: fixed;
  top: -100%;
  margin-top: 61px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #000;
}

.navbar-burger.active {
  top: 0;
}

.navbar-burger ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-burger ul li {
  margin-bottom: 35px;
  font-size: 20px;
  position: relative;
}

.navbar-burger ul li:last-child {
  margin-bottom: 0;
}

.navbar-burger ul li:last-child::after {
  display: none;
}

.navbar-burger ul li::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  bottom: -20px;
  left: 50%;
  background-color: #000;
}

@media (max-width: 880px) {
  .navbar ul {
    display: none;
  }
  .navbar__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 16px;
  }
  .navbar__burger span {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
    top: 7px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar__burger::after, .navbar__burger::before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar__burger::after {
    bottom: 0;
  }
  .navbar__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .navbar__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  .navbar__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 6px;
  }
}
/*# sourceMappingURL=style.css.map */