@font-face {
  font-family: 'Roboto Slab Regular';
  src: url("../fonts/Roboto/RobotoSlab-Regular.eot");
  src: url("../fonts/Roboto/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoSlab-Regular.woff") format("woff"), url("../fonts/Roboto/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: url("../fonts/Roboto/RobotoSlab-Bold.eot");
  src: url("../fonts/Roboto/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoSlab-Bold.woff") format("woff"), url("../fonts/Roboto/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa Regular';
  src: url("../fonts/Comfortaa/Comfortaa.eot");
  src: url("../fonts/Comfortaa/Comfortaa.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa Bold';
  src: url("../fonts/Comfortaa/Comfortaa-Bold.eot");
  src: url("../fonts/Comfortaa/Comfortaa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: #FFFCF5;
  font-family: 'Comfortaa Regular';
  font-weight: 400;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  z-index: 4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

button:active, button:focus {
  border: none;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 780px;
  }
}

@media (max-width: 880px) {
  .container {
    max-width: 500px;
    width: 85%;
  }
}

.hero {
  height: 100vh;
  position: relative;
}

.hero-text {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  font-size: 48px;
  width: 810px;
  color: #fff;
  font-family: 'Roboto Slab Regular';
  font-weight: 400;
}

.hero-text_red {
  font-family: 'Roboto Slab Bold';
  font-weight: 700;
}

.hero-btn {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
  background: #004f69;
  color: #fff;
  padding: 18px 27px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.hero-btn:hover {
  background: #fff;
  color: #004f69;
}

@media (max-width: 880px) {
  .hero-text {
    font-size: 32px;
    max-width: 610px;
    width: 85%;
  }
  .hero-btn {
    letter-spacing: 1.5px;
    font-weight: 700;
    bottom: 10%;
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
    padding: 20px 30px 17px 30px;
    border-radius: 30px;
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-width: 880px) {
  .hero-btn {
    bottom: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-block {
  padding: 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  letter-spacing: 1px;
  color: #fff;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.navbar ul {
  margin: 0 0 0 40px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  margin-right: 35px;
}

.navbar ul li a {
  color: #fff;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar-link {
  letter-spacing: 1px;
  position: relative;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.navbar-link::after {
  content: '';
  -webkit-transition: .4s;
  transition: .4s;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar__burger {
  display: none;
}

.navbar-burger {
  z-index: 100;
  padding: 10px 0;
  position: fixed;
  top: -200%;
  margin-top: 61px;
  right: 21%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #ff5f45;
}

.navbar-burger.actived {
  top: 0;
}

.navbar-burger ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
}

.navbar-burger ul li {
  margin-bottom: 27px;
  font-size: 20px;
  position: relative;
}

.navbar-burger ul li a {
  color: #fff;
}

.navbar-burger ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 880px) {
  .navbar ul {
    display: none;
  }
  .navbar__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 16px;
  }
  .navbar__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 7px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar__burger::after, .navbar__burger::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar__burger::after {
    bottom: 0;
  }
  .navbar__burger.actived span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .navbar__burger.actived::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  .navbar__burger.actived::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 6px;
  }
}

@media (max-width: 575px) {
  .navbar-burger {
    right: 13%;
  }
}

@media (orientation: landscape) {
  .navbar-burger ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 5px 10px;
  }
  .navbar-burger ul li {
    margin-bottom: 23px;
    font-size: 20px;
    position: relative;
  }
  .navbar-burger ul li a {
    color: #fff;
  }
  .navbar-burger ul li:last-child {
    margin-bottom: 0;
  }
}

.food {
  height: 100vh;
  position: relative;
}

.food__title {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  color: #fff;
  font-size: 48px;
  letter-spacing: 1.5px;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.food-block {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  height: 80vh;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food-item {
  height: 60vh;
  width: 48%;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  border-radius: 20px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}

.food-item_hover {
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 20px;
  background-color: #000;
  opacity: .1;
}

.food-item_first {
  background: url("../img/fruits.jpg") no-repeat top center/cover;
}

.food-item_second {
  background: url("../img/meat.jpg") no-repeat top center/cover;
}

.food-item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.food-item:hover .food-item_hover {
  opacity: .7;
}

.food-item__btn {
  z-index: 999;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1.5px;
  font-size: 32px;
  font-weight: 700;
  height: 180px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #0798ec;
  color: #fff;
  padding: 28px 25px;
  border-radius: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.food-item__btn:hover {
  background: #fff;
}

.food-item__btn:hover a {
  color: #0798ec;
}

.food-item__btn a {
  color: #fff;
}

@media (max-width: 880px) {
  .food__title {
    font-size: 42px;
  }
  .food-block {
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .food-item {
    height: 29vh;
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
  }
  .food-item:last-child {
    margin-top: -50px;
  }
  .food-item:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .food-item:hover .food-item_hover {
    -webkit-transition: 0s;
    transition: 0s;
    width: 0;
    height: 0;
    z-index: 2;
    border-radius: 0;
    background-color: none;
    opacity: 0;
  }
  .food-btn {
    font-size: 23px;
    padding: 18px 15px;
    border-radius: 15px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .food-btn:active {
    background: #fff;
    color: #004f69;
  }
}

@media (orientation: landscape) and (max-width: 880px) {
  .food__title {
    font-size: 32px;
  }
  .food-block {
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    margin-top: 85px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .food-item {
    height: 60vh;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin-bottom: 0;
  }
  .food-item:last-child {
    margin-top: 0px;
  }
  .food-btn {
    font-size: 23px;
    padding: 18px 15px;
    border-radius: 15px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .food-btn:active {
    background: #fff;
    color: #004f69;
  }
}

.calc {
  position: relative;
}

.calc-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.calc__title {
  text-align: center;
  color: #fff;
  font-size: 48px;
  letter-spacing: 1.5px;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.calc-wrapper {
  height: 60vh;
  width: 85vw;
  margin: 40px auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-basket {
  text-align: center;
}

.calc-basket-btn {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1.5px;
  font-weight: 700;
  background: #004f69;
  color: #fff;
  padding: 18px 27px;
  border-radius: 5px;
}

.calc-basket-btn__img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.calc-body {
  -ms-flex-preferred-size: 83%;
      flex-basis: 83%;
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.calc-body-menu {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.calc-body-menu-items {
  margin-top: 20px;
}

.calc-body-menu-items ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 5px;
}

.calc-body-menu-items ul li {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 0;
  margin-bottom: 5px;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.calc-body-menu-items ul li::after {
  content: '';
  -webkit-transition: .4s;
  transition: .4s;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fc6c7c;
}

.calc-body-menu-items ul li:hover::after {
  width: 100%;
}

.calc-body-items {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  height: 100%;
  padding: 0 20px;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calc-body-item {
  position: relative;
  display: inline-block;
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  height: 120px;
  margin: 8px 8px 2px 8px;
  border: 2px solid #fc6c7c;
  border-radius: 10px;
}

.calc-body-item__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.calc-body-item__text {
  position: absolute;
  left: 3%;
  display: inline-block;
  letter-spacing: 1.5px;
  text-align: left;
  top: 3%;
  font-size: 16px;
  max-width: 110px;
  color: #000;
  text-indent: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.calc-body-item__add {
  position: absolute;
  top: -10px;
  right: -20px;
  background-color: green;
  color: #fff;
  font-size: 43px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  opacity: 0;
}

.calc-body-item:hover .calc-body-item__add {
  opacity: 1;
}

.calc-input {
  max-width: 97%;
  padding: 7px;
  margin-top: 2px;
  border: .5px solid #000;
}

.calc-ad {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.calc-ad span {
  display: block;
  max-width: 200px;
  font-size: 24px;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.notation {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 250px;
  height: 70px;
  background-color: #48f094;
  color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  z-index: 1000;
}

.modal {
  position: absolute;
  width: 90%;
  height: 90%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  background-color: #fff;
  border-radius: 30px;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-animation: show .3s 1;
          animation: show .3s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modal-container {
  height: 97%;
}

.modal-title {
  text-align: center;
  font-size: 37px;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.modal-out {
  position: absolute;
  top: 4%;
  right: 2%;
  font-size: 34px;
  cursor: pointer;
}

.modal-wrapper {
  position: relative;
  height: 75%;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  border: 2px solid #000;
}

.modal-list {
  max-height: 85%;
  width: 98%;
  margin: 0 auto;
  overflow-y: scroll;
}

.modal-item {
  height: 100px;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 15px;
}

.modal-item:last-child {
  border-bottom: none;
}

.modal-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-item-text img {
  height: 95px;
  width: 120px;
  margin-right: 10px;
}

.modal-item-text span {
  font-size: 28px;
  font-family: 'Comfortaa Regular';
  font-weight: 400;
}

.modal-item-delete {
  margin-left: 10px;
  cursor: pointer;
}

.modal-item-input {
  font-size: 28px;
}

.modal-item-input input {
  height: 50px;
  width: 140px;
  padding: 15px;
  margin: 0 10px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.modal-item-input input:focus, .modal-item-input input:active {
  border: none;
  border-bottom: 1.5px solid #000;
}

.modal-add {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 70px;
  width: 98%;
  font-size: 28px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-add input {
  height: 50px;
  padding: 15px;
  margin: 0 10px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.modal-add input:focus, .modal-add input:active {
  border: none;
  border-bottom: 1.5px solid #000;
}

.modal-add-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-add__text {
  width: 250px;
}

.modal-add__num {
  width: 140px;
}

.modal-add__btn {
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 22px;
  background: #004f69;
  color: #fff;
  padding: 10px 17px;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal-final-wr {
  height: 70px;
  width: 90%;
  margin: auto;
  margin-top: 1%;
}

.modal-final {
  text-align: right;
  width: 100%;
  font-size: 32px;
  letter-spacing: 1.5px;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.modal-final__text {
  margin-right: 20px;
}

.modal-final__btn {
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 22px;
  background: #004f69;
  color: #fff;
  padding: 10px 17px;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 20px;
}

.hided {
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-height: 650px) {
  .modal-list {
    max-height: 80%;
  }
  .modal-wrapper {
    height: 68%;
  }
}

@media (max-height: 570px) {
  .modal-list {
    max-height: 75%;
  }
}

@media (max-height: 510px) {
  .modal-list {
    max-height: 70%;
  }
}

@media (max-height: 450px) {
  .modal-list {
    max-height: 60%;
  }
  .modal-wrapper {
    height: 40%;
  }
}

@media (max-height: 555px) {
  .modal-wrapper {
    height: 64%;
  }
}

@media (max-height: 490px) {
  .modal-wrapper {
    height: 60%;
  }
}

@media (max-width: 1380px) {
  .modal-add-text {
    font-size: 24px;
  }
}

@media (max-width: 1285px) {
  .modal-list {
    max-height: 68%;
  }
  .modal-add {
    height: 110px;
  }
  .modal-add-text {
    font-size: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-add__text {
    width: 200px;
  }
  .modal-add__num {
    width: 70px;
  }
}

@media (max-width: 800px) {
  .modal-list {
    max-height: 65%;
  }
  .modal-item-text span {
    font-size: 20px;
  }
  .modal-item-text img {
    height: 75px;
    width: 90px;
  }
  .modal-item-input {
    font-size: 20px;
  }
  .modal-add-text {
    font-size: 20px;
  }
  .modal-add__btn {
    padding: 8px 12px;
  }
  .modal-final {
    font-size: 20px;
  }
  .modal-final__btn {
    padding: 8px 12px;
  }
  #modal-item__input {
    width: 100px;
  }
}

@media (max-width: 670px) {
  .modal-title {
    font-size: 28px;
  }
  .modal-wrapper {
    height: 74%;
  }
  .modal-list {
    max-height: 55%;
  }
  .modal-item {
    height: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal-item-text img {
    display: none;
  }
  .modal-add {
    height: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal-add__btn {
    padding: 5px 10px;
  }
  .modal-final {
    text-align: center;
  }
  .modal-final__btn {
    padding: 5px 10px;
  }
}

@media (max-width: 490px) {
  .modal-add {
    height: 140px;
  }
  .modal-add-text {
    font-size: 16px;
  }
  .modal-add__text {
    width: 130px;
  }
  .modal-add__num {
    width: 60px;
  }
  .modal-add__btn {
    margin-top: 5px;
    padding: 8px 12px;
  }
  .modal-add input {
    height: 35px;
  }
  .modal-final {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-final__btn {
    margin-right: 0;
  }
  .modal-final__text {
    margin-top: 10px;
    margin-right: 0;
  }
  #modal-item__input {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .modal-title {
    font-size: 18px;
  }
  .modal-out {
    font-size: 18px;
    top: 3%;
    right: 3%;
  }
  .modal-add {
    display: none;
  }
  .modal-list {
    max-height: 100%;
  }
  .modal-item {
    height: 130px;
  }
  .modal-item-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-item-delete {
    margin-top: 10px;
  }
}

@media (max-width: 1836px) {
  .calc-body-item {
    -ms-flex-preferred-size: 18%;
        flex-basis: 18%;
  }
}

@media (max-width: 1650px) {
  .calc__title {
    margin-bottom: 10px;
  }
  .calc-wrapper {
    margin: 0px auto 10px auto;
  }
  .calc-body-item {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
}

@media (max-width: 1300px) {
  .calc-input {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 80%;
    max-width: 100%;
    text-align: center;
  }
  .calc-ad {
    display: none;
  }
  .calc-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .calc-body-menu-items {
    display: none;
  }
  .calc-body-item {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
}

@media (max-width: 1060px) {
  .calc-body-item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 707px) {
  .calc-body-item {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
  }
}

@media (max-width: 500px) {
  .calc-body-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .calc-body-item {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

@media (max-width: 410px) {
  .calc__title {
    font-size: 32px;
  }
  .calc-wrapper {
    width: 78vw;
  }
  .calc-body-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .calc-basket-btn {
    padding: 10px 15px;
  }
}

.about {
  position: relative;
}

.about-container {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  width: 70vw;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.about-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  letter-spacing: 1.5px;
}

.about-title {
  font-size: 34px;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.about-description {
  margin-top: 10px;
  font-size: 22px;
}

.about-form {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: left;
}

.about-form__title {
  font-size: 34px;
  font-family: 'Comfortaa Bold';
  font-weight: 700;
}

.about-form form {
  margin-top: 10px;
  width: 400px;
  margin-right: 0;
}

.about-form__name {
  width: 250px;
  padding: 10px 19px;
  border: none;
  border-radius: 15px;
  outline: none;
}

.about-form__name:focus, .about-form__name:active {
  border: none;
  outline: none;
}

.about-form__mail {
  margin-top: 10px;
}

.about-form__text {
  resize: none;
  padding: 10px 19px;
  margin: 7px 0;
  border: none;
  border-radius: 15px;
  outline: none;
}

.about-form__text:focus, .about-form__text:active {
  border: none;
  outline: none;
}

.about-form__btn {
  cursor: pointer;
  padding: 10px 19px;
  border: none;
  border-radius: 15px;
  background-color: #fff;
  outline: none;
}

.about-form__btn:focus, .about-form__btn:active {
  border: none;
  outline: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 15vh;
  background-color: #333;
}

.footer-block {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-size: 19px;
  width: 70vw;
  height: 15vh;
}

.footer-item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
}

.footer-other a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer-other a:hover {
  color: #f00;
}

body {
  background-color: #0798ec;
}

.newnavbar {
  background-color: #0798ec;
}

.newburger.actived {
  top: 5%;
}

.newcontainer {
  padding: 0 25px;
  margin-top: 150px;
  color: #fff;
}

.newcontainer span {
  font-size: 22px;
}

.newcontainer ul {
  margin-top: 40px;
  max-width: 900px;
}

.newcontainer ul li {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .newcontainer {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */