.about
    position: relative
    &-container
        position: absolute
        top: 45%
        left: 50%
        transform: translate(-50%, -45%)
        width: 70vw
        height: 65vh
        display: flex
        justify-content: space-between
        // background-color: #fff
        color: #fff
    &-text
        flex-basis: 50%
        letter-spacing: 1.5px
    &-title
        font-size: 34px
        +bold
    &-video
        margin-top: 20px
        width: 400px
        height: 230px
        outline: none
        &:focus
            outline: none
    &-description
        margin-top: 10px
        font-size: 20px
    &-form
        flex-basis: 40%
        text-align: left
        &__title
            font-size: 34px
            +bold
        form
            margin-top: 10px
            width: 400px
            margin-right: 0
        &__name
            width: 250px
            padding: 10px 19px
            border: none
            border-radius: 15px
            outline: none
            &:focus, &:active
                border: none
                outline: none
        &__mail
            margin-top: 10px
        &__text
            resize: none
            padding: 10px 19px
            margin: 7px 0
            border: none
            border-radius: 15px
            outline: none
            &:focus, &:active
                border: none
                outline: none
        &__btn
            cursor: pointer
            padding: 10px 19px
            border: none
            border-radius: 15px
            background-color: #fff
            outline: none
            &:focus, &:active
                border: none
                outline: none

.footer
    position: absolute
    bottom: 0
    width: 100vw
    height: 15vh
    background-color: #333
    &-block
        margin: auto
        display: flex
        align-items: center
        justify-content: space-between
        color: #fff
        font-size: 19px
        width: 70vw
        height: 15vh
    &-item
        flex-basis: 33%
        text-align: center
    &-other
        a
            text-decoration: none
            color: #fff
            transition: .3s
            &:hover
                color: #f00


@media ( max-width: 1305px )
    .about
        &-video
            width: 380px
            height: 210px

@media ( max-width: 1170px )
    .about
        &-container
            justify-content: center
        &-text
            display: none
            flex-basis: 0%
        &-form
            flex-basis: 90%
            text-align: center
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column

@media ( max-width: 790px )
    .about
        &-container
            top: 25%
            transform: translate(-50%, -25%)
    .footer
        height: 18vh
        display: flex
        align-items: center
        justify-content: center
        &-block
            justify-content: center
            flex-direction: column
            font-size: 15px
        &-item
            flex-basis: 50%
            text-align: center
        &-other
            a
                text-decoration: none
                color: #fff
                transition: .3s
                &:hover
                    color: #f00

@media ( max-width: 435px )
    .about
        &-form
            &__title
                font-size: 26px
            form
            &__name
                width: 200px
            &__text
                width: 250px
    .footer
        width: 100vw
        height: 21vh
        &-block
            font-size: 14px
            width: 70vw
            height: 19vh