.calc
    position: relative
    &-container
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__title
        text-align: center
        color: #fff
        font-size: 48px
        letter-spacing: 1.5px
        +bold
    &-wrapper
        height: 60vh
        width: 85vw
        margin: 40px auto 20px auto
        display: flex
        justify-content: space-between
        align-items: center
    &-basket
        text-align: center
        &-btn
            margin: auto
            display: flex
            align-items: center
            text-transform: uppercase
            justify-content: center
            letter-spacing: 1.5px
            font-weight: 700
            background: #004f69
            color: #fff
            padding: 18px 27px
            border-radius: 5px
            &__img 
                height: 30px
                width: 30px
                margin-right: 10px
    &-body
        flex-basis: 83%
        height: 100%
        background-color: #fff
        border-radius: 30px
        display: flex
        padding: 30px
        &-menu
            flex-basis: 20%
            height: 100%
            overflow-y: scroll
            overflow-x: hidden
            &-items
                margin-top: 20px
                ul
                    margin: 0
                    padding: 0
                    list-style: none
                    margin-left: 5px
                    li
                        position: relative
                        cursor: pointer
                        font-size: 20px
                        padding: 5px 0
                        margin-bottom: 5px
                        +bold
                        &::after
                            content: ''
                            transition: .4s
                            position: absolute
                            bottom: -2px
                            left: 0
                            width: 0
                            height: 2px
                            background-color: #fc6c7c
                        &:hover
                            &::after
                                width: 100%
        &-items
            flex-basis: 85%
            height: 100%
            padding: 0 20px
            overflow-y: scroll
            display: flex
            flex-wrap: wrap
        &-item
            position: relative
            display: inline-block
            flex-basis: 18%
            height: 120px
            margin: 8px 8px 2px 8px
            border: 2px solid #fc6c7c
            border-radius: 10px
            &__image
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px
            &__text
                position: absolute
                left: 3%
                display: inline-block
                letter-spacing: 1.5px
                text-align: left
                top: 3%
                font-size: 16px
                max-width: 110px
                color: #000
                text-indent: none
                user-select: none
                +bold
            &__add
                position: absolute
                top: -10px
                right: -20px
                background-color: green;
                color: #fff
                font-size: 43px
                width: 40px
                height: 40px
                border-radius: 50%
                display: flex
                align-items: center
                justify-content: center
                cursor: pointer
                opacity: 0
            &:hover
                .calc-body-item__add
                    opacity: 1
    &-input
        max-width: 97%
        padding: 7px
        margin-top: 2px
        border: .5px solid #000
    &-ad
        flex-basis: 15%
        height: 100%
        background-color: #fff
        border-radius: 30px
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        span 
            display: block
            max-width: 200px
            font-size: 24px
            +bold

.notation
    position: absolute
    top: 1%
    right: 1%
    width: 250px
    height: 70px
    background-color: #48f094
    color: #fff
    border-radius: 10px
    display: flex
    align-items: center
    justify-content: center
    font-size: 20px
    z-index: 1000

.modal
    position: absolute
    width: 90%
    height: 90%
    user-select: none
    top: 60%
    left: 50%
    transform: translate(-50%, -60%);
    background-color: #fff
    border-radius: 30px
    z-index: 1000
    opacity: 0
    transition: .3s
    animation: show .3s 1
    animation-fill-mode: forwards
    &-container
        height: 97%
    &-title
        text-align: center
        font-size: 37px
        +bold
    &-out
        position: absolute
        top: 4%
        right: 2%
        font-size: 34px
        cursor: pointer
    &-wrapper
        position: relative
        height: 75%
        width: 90%
        margin: auto
        border-radius: 20px
        border: 2px solid #000
    &-list
        max-height: 85%
        width: 98%
        margin: 0 auto
        overflow-y: scroll
    &-item
        height: 100px
        width: 98%
        display: flex
        align-items: center
        justify-content: space-between
        border-bottom: 1px solid #000
        padding: 15px
        &:last-child
            border-bottom: none
        &-text
            display: flex
            align-items: center
            img
                height: 95px
                width: 120px
                margin-right: 10px
            span
                font-size: 28px
                +reg
        &-delete
            margin-left: 10px
            cursor: pointer
        &-input
            font-size: 28px
            input
                height: 50px
                width: 140px
                padding: 15px
                margin: 0 10px
                border: none
                border-bottom: 1px solid #000
                outline: none
                &:focus, &:active
                    border: none
                    border-bottom: 1.5px solid #000
    &-add
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%, 0%)
        height: 70px
        width: 98%
        font-size: 28px
        margin: auto
        display: flex
        align-items: center
        border-top: 1px solid #000
        justify-content: space-between
        input
            height: 50px
            padding: 15px
            margin: 0 10px
            border: none
            border-bottom: 1px solid #000
            outline: none
            &:focus, &:active
                border: none
                border-bottom: 1.5px solid #000
        &-text
            display: flex
        &__text
            width: 250px
        &__num
            width: 140px
        &__btn
            letter-spacing: 1.5px
            font-weight: 700
            font-size: 22px
            background: #004f69
            color: #fff
            padding: 10px 17px
            border-radius: 5px
            text-transform: uppercase
            transition: .3s
    &-final-wr
        height: 70px
        width: 90%
        margin: auto
        margin-top: 1%
    &-final
        text-align: right
        width: 100%
        font-size: 32px
        letter-spacing: 1.5px
        +bold
        &__text
            margin-right: 20px
        &__btn
            letter-spacing: 1.5px
            font-weight: 700
            font-size: 22px
            background: #004f69
            color: #fff
            padding: 10px 17px
            border-radius: 5px
            text-transform: uppercase
            transition: .3s
            margin-right: 20px
            

.hided
    display: none
    transition: .3s
    
@keyframes show
    0%
        opacity: 0
    100%
        opacity: 1

// modal

@media (max-height: 650px)
    .modal
        &-list
            max-height: 80%
        &-wrapper
            height: 68%


@media (max-height: 570px)
    .modal
        &-list
            max-height: 75%

@media (max-height: 510px)
    .modal
        &-list
            max-height: 70%

@media (max-height: 450px)
    .modal
        &-list
            max-height: 60%
        &-wrapper
            height: 40%

@media (max-height: 555px)
    .modal
        &-wrapper
            height: 64%

@media (max-height: 490px)
    .modal
        &-wrapper
            height: 60%

@media (max-width: 1380px)
    .modal
        &-add
            &-text
                font-size: 24px

@media (max-width: 1285px)
    .modal
        &-list
            max-height: 68%
        &-add
            height: 110px
            &-text
                font-size: 24px
                flex-direction: column
            &__text
                width: 200px
            &__num
                width: 70px

@media (max-width: 800px)
    .modal
        &-list
            max-height: 65%
        &-item
            &-text
                span
                    font-size: 20px
                img
                    height: 75px
                    width: 90px
            &-input
                font-size: 20px
        &-add
            &-text
                font-size: 20px
            &__btn
                padding: 8px 12px
        &-final
            font-size: 20px
            &__btn
                padding: 8px 12px
    #modal-item__input
        width: 100px

@media (max-width: 670px)
    .modal
        &-title
            font-size: 28px
        &-wrapper
            height: 74%
        &-list
            max-height: 55%
        &-item
            height: 120px
            flex-direction: column
            justify-content: center
            &-text
                img
                    display: none
        &-add
            height: 150px
            flex-direction: column
            justify-content: center
            &__btn
                padding: 5px 10px
        &-final
            text-align: center
            &__btn
                padding: 5px 10px

@media (max-width: 490px)
    .modal
        &-add
            height: 140px
            &-text
                font-size: 16px
            &__text
                width: 130px
            &__num
                width: 60px
            &__btn
                margin-top: 5px
                padding: 8px 12px
            input
                height: 35px
        &-final
            font-size: 20px
            display: flex
            flex-direction: column
            // align-items: center
            &__btn
                margin-right: 0
            &__text
                margin-top: 10px
                margin-right: 0
    #modal-item__input
        width: 100px

@media (max-width: 400px)
    .modal
        &-title
            font-size: 18px
        &-out
            font-size: 18px
            top: 3%
            right: 3%
        &-add
            display: none
        &-list
            max-height: 100%
        &-item
            height: 130px
            &-input
                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
            &-delete
                margin-top: 10px

// calc

@media (max-width: 1836px)
    .calc
        &-body
            &-item
                flex-basis: 18%

@media (max-width: 1650px)
    .calc
        &__title
            margin-bottom: 10px
        &-wrapper
            margin: 0px auto 10px auto
        &-body
            &-item
                flex-basis: 22%

@media (max-width: 1300px)
    .calc
        &-input
            position: absolute
            left: 50%
            transform: translate(-50%, 0)
            width: 80%
            max-width: 100%
            text-align: center
        &-ad
            display: none
        &-body
            flex-direction: column
            flex-basis: 100%
            &-menu
                &-items
                    display: none
            &-item
                flex-basis: 23%

@media (max-width: 1060px)
    .calc
        &-body
            &-item
                flex-basis: 30%

@media (max-width: 707px)
    .calc
        &-body
            &-item
                flex-basis: 43%

@media (max-width: 500px)
    .calc
        &-container
            top: 0%
            left: 50%
            transform: translate(-50%, 0);
            margin-top: 30px
        &-body
            &-items
                justify-content: center
            &-item
                flex-basis: 70%
    .calc
    position: relative
    

@media (max-width: 410px)
    .calc
        &__title
            font-size: 32px
        &-wrapper
            width: 78vw
        &-body
            &-item
                flex-basis: 100%
                // overflow: hidden
        &-basket
            &-btn
                padding: 10px 15px