.navbar
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999
    &-block
        padding: 25px 25px
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        letter-spacing: 1px
        color: #fff
        +bold
    ul
        margin: 0 0 0 40px
        padding: 0
        list-style: none
        display: flex
        align-items: center
        li
            margin-right: 35px
            a
                color: #fff
        li:last-child
            margin-right: 0
    &-link
        letter-spacing: 1px
        position: relative
        +bold
    &-link::after
        content: ''
        transition: .4s
        position: absolute
        bottom: -2px
        left: 0
        width: 0
        height: 2px
        background-color: #fff
    &-link:hover
        &::after
            width: 100%
    &__burger
        display: none
    &-burger
        z-index: 100
        padding: 10px 0
        position: fixed
        top: -200%
        margin-top: 61px
        right: 21%
        transition: all 0.3s ease 0s
        border: 1px solid #fff
        border-radius: 10px
        background-color: $red
        &.actived
            top: 0
        ul
            margin: 0
            padding: 0
            list-style: none
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-end
            padding: 20px
            li 
                margin-bottom: 27px
                font-size: 20px
                position: relative
                a
                    color: #fff
                &:last-child
                    margin-bottom: 0


@media (max-width: 880px)
    .navbar
        ul
            display: none
        &__burger
            display: block
            position: relative
            width: 20px
            height: 16px
            span
                position: absolute
                background-color: #fff
                width: 100%
                height: 2px
                left: 0
                top: 7px
                transition: all 0.3s ease 0s
            &::after, &::before
                content: ''
                position: absolute
                background-color: #fff
                width: 100%
                height: 2px
                transition: all 0.3s ease 0s
            &::after
                bottom: 0
            &.actived span 
                transform: scale(0)
            &.actived::before
                transform: rotate(45deg)
                top: 8px
            &.actived::after
                transform: rotate(-45deg)
                bottom: 6px

@media (max-width: 575px)
    .navbar
        &-burger
            right: 13%

@media (orientation: landscape)
    .navbar
        &-burger
            ul
                display: flex
                flex-direction: column
                justify-content: center
                align-items: flex-end
                padding: 5px 10px
                li 
                    margin-bottom: 23px
                    font-size: 20px
                    position: relative
                    a
                        color: #fff
                    &:last-child
                        margin-bottom: 0
    
